<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
        <logGroupName>/file-service/application</logGroupName>
        <logStreamUuidPrefix>file-service-</logStreamUuidPrefix>
        <logRegion>${AWS_REGION:-us-east-1}</logRegion>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!-- Uncomment to also stream logs directly to CloudWatch Logs -->
        <!-- <appender-ref ref="CLOUDWATCH"/> -->
    </root>

</configuration>
